.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  padding: 0;
  margin: 0;
}
.Board {
  width: 500px;
  height: 500px;
  background-color: black;
  border: 1px solid wheat;
  display: flex;
  flex-direction: column;
}
.Row {
  display: flex;
  flex : 33%;
  flex-direction: row;
  border: 1px solid wheat;
}
.Square {
  flex : 33%;
  height: 100%;
  border : 1px solid wheat;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 100px;
}